/* tab css */
ul.faqTabs{
		margin: 0px;
		padding: 0px;
		list-style: none;
		text-align:center;
	}
	ul.faqTabs li{
		display: inline-block;
		cursor: pointer;
		border-bottom:solid 1px #fff;
		width:30%;
		margin-right:1%;
		margin-left:1%;
	}

	ul.faqTabs li.current{
		border-bottom:solid 1px #eda517;
		color: #eda517;
		font-size: 1.1rem;
		font-weight:bold;
	}

	.faq-tab-content{
		display: none;
		margin: 1rem 0rem;
	}

	.faq-tab-content.current{
		display: inherit;
	}
/* tab css end */


.slideupBg{
	animation: 0.8s slideupbg;
	margin-top: 15%;
}
@keyframes slideupbg {
  0% {
    margin-top: 200%;
  }
  100% {
    margin-top: 15%;
  }
}
/* animation for slideUp end */
.faq-sec .que-set{
	border-bottom:solid 1px #d4d5d7; 
	font-size: 1.0rem;
	padding:0.3rem 0rem;}
.faq-sec .que-set .que{margin-bottom: 0.2rem; font-weight:normal; color:#14c2dc; font-size: 1.2rem;}
.faq-sec .que-set .ans{margin: 0.5rem 0rem; display:none;}
/*.faq-sec .que-set .ans ul{margin:0px; padding:0px;}
.faq-sec .que-set .ans ul li{display:inline-block; width:49%;}
.faq-sec .que-set .ans ul li:last-child{text-align:right;}*/
.faq-sec h1{font-size:1.9rem;}
.faq-sec .ans-list{
	font-size: 1.0rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 0.9rem;
}
/*.faq-sec .que-set .ans ul li span:first-child{
	margin-right: 2.5rem;
}
.faq-sec .que-set .ans ul li:first-child{
	 font-weight:normal;
}*/

/*.ply-march a div {
    position: relative;
    top: -0.3rem;
}*/
